*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
div.container{
    width: 590px;
    height: 470px;
    margin: 0 auto;
}
img{
    width: 590px;
    height: 470px;
    vertical-align: top;
}
div#focus{
    position: relative;
    top: -20px;
}
div#focus span{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: url(../img/dot.png);
}