*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
div.container{
    width: 970px;
    font-size: 12px;
    margin: 0px auto;
}
nav ul{
    width: 970px;
    height: 51px;
    background: url(../img/nav_bg.jpg);
}
nav ul li{
    float: left;
    width: 121px;
    height: 51px;
    line-height: 51px;
    text-align: center;
}
nav li a{
    display: block;
    background:url(../img/digit_12.jpg) no-repeat;
    font-weight: bold;
    color: #404040;
}
nav li a:hover{
    color: #f00;
}
div.banner{
    margin-bottom: 20px;
}
section{
    overflow: hidden;
}
section aside{
    width: 263px;
    font-size: 13px;
    float: left;
    margin-right: 7px;
}
section aside h3{
    width: 243px;
    height: 50px;
    line-height: 65px;
    padding-left: 20px;
    color: #fff;
    background: url(../img/web_left_class_bg.jpg);
} 
section aside ul{
    width: 217px;
    padding-left: 35px;
    padding-right: 11px;
    padding-bottom: 5px;
    background: url(../img/right_bg02.jpg);
}
section aside li{
    height: 28px;
    line-height: 28px;
    padding-left: 5px;
    border-bottom: 1px dashed #ccc;
}
section aside li a{
    color: #404040;
}
section div{
    width: 700px;
    float: left;
}
section div h3{
    width: 634px;
    height: 50px;
    line-height: 55px;
    padding-left: 25px;
    color: #fff;
    background: url(../img/web_right_blk_t.jpg);
}
section div ul{
    width: 640px;
    overflow: hidden;
    padding: 15px 10px 20px 20px;
    text-align: center;
}
section div li{
    float: left;
    margin-right: 27px;
}
section div li img{
    width: 133px;
    height: 133px;
}
footer{
    text-align: center;
    color: #404040;
    background: url(../img/footer.jpg);
    padding-top: 20px;
}

